/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Header styling */
header {
    text-align: center;
    padding: 20px;
    background-color: #0288d1;
    color: white;
    width: 100%;
}

/* Styling for header elements */
header h2 {
    margin: 0;
}

header img {
    max-width: 100px;
    margin-top: 10px;
    border-radius: 10%;
}

/* Main container styling */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

/* Form elements styling */
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color: #0277bd;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0277bd;
    border-radius: 4px;
    width: calc(100% - 22px); /* Subtracting the padding + border width */
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #0288d1;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin : 2px;
}

button[type="submit"]:hover, button[type="register"]:hover {
    background-color: #0277bd;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #0288d1;
    color: white;
    width: 100%;
}
